<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<form method="POST"  action="{% url 'show' %}">
  {% csrf_token %}
  <div class="container">
    <br />
    <div class="row">
      <div class="col-2">
        <label for="meetin_link"> </label>
      </div>
      <div class="col-4">
        <h3>Enter Details</h3>
        </div>
    </div><br>
    <div class="row">
      <div class="col-2">
        <label for="meetin_link">Meeting Link </label>
      </div>
      <div class="col-4">
        <div class="col-sm-4">{{ form.Meeting_link }}</div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-2">
        <label for="time">Time </label>
      </div>
      <div class="col-4">
        <div class="col-sm-4">{{ form.Time }}</div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-2">
        <label for="email">Email </label>
      </div>
      <div class="col-4">
        <div class="col-sm-4">{{ form.Email }}</div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-2">
        <label for=""></label>
      </div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary">Submit</button>   
        </div>
      </div>
    </div>
    </div>
  </div>
</form> 


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>



