<body>
    


<table>
    <thead>
      <tr>
        <th>Meeting Link</th>
        <th>Time</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
        {% for dat in form %}
      <tr>
        <td>{{dat.Meeting_link}}</td>
        <td>{{dat.Time}}</td>
        <td>{{dat.Email}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  
</body>