<html>
    <title>Download File</title>
</head>
<body>
<enter>
   <h1>Download File using Django</h1>
   <a href="{% url 'download_pdf_file' filename='Suriya.xlsx' %}">Download PDF</a>
</center>
</body>
</html>