
<!DOCTYPE html>
{% load widget_tweaks %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django File Upload</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body style="padding-top: 50px;">
    <form action="" method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="form-group">
            {{form.fileupload}}
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <ul>
        {% for data in get_file %}
        <li><a href="{{ data.fileupload }}" download>Download File</a></li>
        {% endfor %}
    </ul>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>