


{% extends 'api_user/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <h1>You have been Logged out</h1>
        <h5><a href="{% url 'login' %}">Login In Again</a></h5>
    </div>
{% endblock %}</title>