
{% extends 'api_user/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <h2>{{user.username}}</h2>
    <h2>{{user.email}}</h2>
    </div>
{% endblock %}