<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head><link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <title>Document</title>
  <style>
    /* .gradient-custom { */
    /* fallback for old browsers */
    /* background: #f093fb; */
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1)); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    } */

    body {
  background: #ccc;
  padding-top: 50px;
}
.signup_form {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  background: rgba(0,0,0,0.7);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  color: #fff;
}
.signup_form:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
}
.textbox {
  width: 220px;
  border: none;
  border-bottom: 1px solid #F18F63;
  background: transparent;
  padding: 8px;
  color: #fff;
}
input:focus {
  outline: none;
}
.btn {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 240px;
  height: 40px;
  background: #1AB188;
  border:none;
  color: #fff;
}
.small {
  font-size: 11px;
  text-decoration: none;
  color: rgba(255,255,255,0.8);
}
    </style>
</head>
<body>
  <div class="signup_form">
    <form action="" method="post" >   
      <h3>Registration     </h3>
     <p>
      <input name="username" type="text" id="username" class="textbox" size="30" placeholder="Name *" />
     </p>
     <p>
      <input name="email" type="text" id="email" class="textbox" size="30" placeholder="Email *" />
     </p>
     <p>
      <input name="password1" type="password" id="password1" class="textbox" size="30" placeholder="Password *" />
     </p>
     <p>
      <input name="password2" type="password" id="password2" class="textbox" size="30" placeholder="Confirm Password *" />
     </p>
     <p>
      <input name="submit" type="submit" value="REGISTER" class="btn"/>
      <br/>
      <a href="" class="small">Already have an account?</a>
     </p>
    </form>
</div>
</body>
</html> -->



{% extends 'api_user/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="container" style="margin-top: 30px;">
    <form action="" method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4" style="color: white;">Join Now</legend>
          {{ form|crispy }}
      </fieldset>
      <div class="form-group" id="signup-button">
          <button class="btn ">Sign Up</button>
      </div>
      <div class="form-group">
          <small class="text-muted ml-3" >Already have an account? <a href="{% url 'login' %}">Sign In</a></small>
      </div>
    </form>
    </div>
{% endblock %}