<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Upload and Download Files</h1>

    {% for file in files %}
    <h2>{{file.title}}</h2>
    <ul>
        <li>
            <a href="{{post.adminupload.url}}" download>Download</a>
        </li>
    </ul>
   
    {% endfor %}
</body>
</html>