<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Table</title>
</head>
<body>
    <table border="1">

        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Email</th>
        </tr>
        {% for data in JsonObj %}
        <tr>
            <td>{{data.name}}</td>
            <td>{{data.city}}</td>
            <td>{{data.email}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>