<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Css Style -->
    <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"> -->

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <!--Font Link-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body id="bg">
    <div style="padding-top: 50px;">
      {% if msg %} 
      {% autoescape on %} {{ msg }} 
      {% endautoescape %}
      {% endif %}
      <div id="msg"></div>
      <center>
        <h1> Multiple Files Upload</h1><br>
        <p >
        {% csrf_token %}
        <input type="file" id="files" name="files[]" multiple="multiple" />
        <button id="upload" class="btn btn-primary">Upload</button>
      </p>
      </center>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      $(document).ready(function (e) {
        $('#upload').on('click', function () {

            var form_data = new FormData();
            csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
            form_data.append('csrfmiddlewaretoken',csrf_token);
     
            var len = document.getElementById('files').files.length;
            
            if(len == 0){
                $('#msg').html('<div class="alert alert-danger" role="alert"> Select at least one file..</div>');
                return; 
            }
            for(var x=0; x<len; x++){
                form_data.append("files[]", document.getElementById('files').files[x]);
            }
            console.log(form_data)
            $.ajax({
                url: "{% url 'multiple_files' %}",
                dataType:"json",
                cache: false,
                contentType: false,
                processData: false,
                // data: { 'data': form_data, 'csrfmiddlewaretoken':csrf_token},
                data: form_data,
                type : "post",
                success: function(response){
                    $('#msg').html(response.msg);
                 },
                 error: function(response){
                    $('#msg').html(response.msg);
                 }
            });
        });
      });
    </script>
  </body>
</html>
